/*===== CHARSET =====*/
@charset "UTF-8";
/*===== BOXICONS =====*/
@import url('https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css');
/*===== GOOGLE FONTS =====*/
@import url(https://fonts.googleapis.com/css?family=Raleway:700,800&display=swap);
@import url(https://fonts.googleapis.com/css?family=Rubik:400,700&display=swap);

/*===== VARIABLES CSS =====*/
:root {
    /*========== Colors ==========*/
    --first-color: #27d2c8;
    --first-color-alt: #34e6da;
    --second-color: #FF5978;
    --second-color-alt: #de4a65;
    --title-color: #000000;
    --text-color: #616161;
    --text-color-light: #b0b0b0;
    --body-color: #fcfdfe;

    /*========== Font and typography ==========*/
    --body-font: 'Rubik', sans-serif;
    --other-font: 'Raleway', sans-serif;
    --h1-font-size: 24px;
    --h2-font-size: 36px;
    --normal-font-size: 12px;
    --small-font-size: 10px;

    /*========== Font weight ==========*/
    --font-regular: 400;
    --font-bold: 700;
    --font-extra-bold: 800;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
}

@media only screen and (min-width: 768px) {
    :root {
        --h2-font-size: 44px;
    }
}

::-moz-selection {
    background: var(--first-color);
    color: #ffffff;
}

::selection {
    background: var(--first-color);
    color: #ffffff;
}

::-webkit-input-placeholder {
    color: #cdcdcd;
    font-size: var(--normal-font-size);
    font-weight: var(--font-regular);
    letter-spacing: 1px;
}

::-moz-placeholder {
    color: #cdcdcd;
    font-size: var(--normal-font-size);
    font-weight: var(--font-regular);
    letter-spacing: 1px;
}

:-ms-input-placeholder {
    color: #cdcdcd;
    font-size: var(--normal-font-size);
    font-weight: var(--font-regular);
    letter-spacing: 1px;
}

::-ms-input-placeholder {
    color: #cdcdcd;
    font-size: var(--normal-font-size);
    font-weight: var(--font-regular);
    letter-spacing: 1px;
}

::placeholder {
    color: #cdcdcd;
    font-size: var(--normal-font-size);
    font-weight: var(--font-regular);
    letter-spacing: 1px;
}

* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

html body {
    display: block;
    position: relative;
    height: 100%;
    background: var(--body-color);
    color: var(--text-color);
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: var(--font-regular);
    line-height: 1.2;
    overflow-x: hidden;

}

a {
    color: var(--first-color);
    -webkit-transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    transition: all 0.25s linear;
}

a:hover {
    color: var(--first-color-alt);
    text-decoration: none;
}

h1, h2 {
    color: var(--title-color);
}

h1 {
    font-size: var(--h1-font-size);
    margin: 0;
}

h2 {
    color: var(--title-color);
    font-size: var(--h2-font-size);
    font-weight: var(--font-bold);
}

h2 span {
    color: #1e9c9c;
}

p, ul, ol {
    margin: 0;
}

.brand {
    width: 150px;
    z-index: var(--z-fixed);
}

.brand__link {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 40px;
    color: var(--title-color);
    overflow: hidden;
}

.breadcrumb__item {
    position: relative;
}

.breadcrumb__item::before {
    content: '>';
    position: absolute;
    left: -19px;
    font-weight: var(--font-bold);
}

.breadcrumb__item:first-child::before {
    content: '';
    display: none;
}

.breadcrumb {
    align-items: center;
    justify-content: center;
    gap: 30px;
    background: transparent;
    margin-bottom: 0;
}

.breadcrumb__link {
    color: var(--text-color);
}

.breadcrumb__name {
    font-size: var(--normal-font-size);
    font-weight: var(--font-bold);
    text-transform: uppercase;
    letter-spacing: 1px;
}

.btn__main {
    color: var(--body-color);
    font-family: var(--other-font);
    font-size: var(--small-font-size);
    font-weight: var(--font-extra-bold);
    letter-spacing: 1px;
    line-height: 1.2;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 13px 29px;
}

.btn__main--sky {
    background: var(--first-color);
}

.btn__main--sky:hover {
    background: var(--first-color-alt);
    color: var(--body-color);
}

.btn__main--flower {
    background: var(--second-color);
}

.btn__main--flower:hover {
    background: var(--second-color-alt);
    color: var(--body-color);
}

.btn__main--mood {
    color: #b3bbc6;
    background: #f2f6ff;
}

.btn__main--mood:hover {
    background: #e2e6f0;
    color: var(--body-color);
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.contact__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.contact__text {
    margin-bottom: 15px;
}

.contact__video {
    width: 100%;
    height: 345px;
}

.contact__video iframe {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg, #e6e9f0, #eef1f5);
    margin-top: -70px;
    padding: 100px 15px;
}

.contact-info__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    text-align: center;
}

.contact-info__item-ico {
    color: var(--first-color);
    font-size: 36px;
}

.contact-info__item-title {
    color: var(--title-color);
    font-size: 16px;
    font-weight: var(--font-bold);
}

.contact-info__title {
    color: var(--title-color);
    font-weight: var(--font-bold);
    font-size: 22px;
}

.contact-info__description {
    color: #848484;
    padding-bottom: 30px;
}

.contact-info__wrap {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    background: var(--body-color);
    box-shadow: 0px 2px 24px rgba(88, 126, 236, 0.15);
    border-radius: 20px;
    padding: 30px;
}

.error {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 500px;
    height: calc(100vh - 178px);
}

.error__description {
    max-width: 480px;
    text-align: center;
}

.error__link {
    margin-top: 15px;
}

.error__title {
    font-size: var(--h2-font-size);
    margin: 30px 0 15px;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    text-align: center;
    padding: 30px 15px;
}

.footer__copy,
.footer__link {
    color: var(--text-color-light);
}

.form .form-control:focus {
    color: var(--text-color);
    background-color: var(--body-color);
    outline: 0;
    border-color: var(--first-color-alt);
    box-shadow: unset;
}

.form input[type=email],
.form input[type=password],
.form input[type=text],
.form select,
.form textarea {
    position: relative;
    height: 100%;
    background-color: #f0f1f8;
    color: var(--text-color);
    font-size: var(--normal-font-size);
    padding: 10px 15px;
    border: 2px solid #E9F2FF;
    border-radius: 5px;
}

.form label {
    color: var(--text-color);
    font-size: var(--normal-font-size);
    font-weight: var(--font-regular);
    letter-spacing: 1px;
    padding-top: 5px;
    padding-left: 10px;
}

.form select {
    padding: 12px 10px;
}

.form textarea {
    resize: none;
}

.form__btn {
    background: var(--first-color);
    color: var(--body-color);
    font-family: var(--other-font);
    font-size: var(--small-font-size);
    font-weight: var(--font-extra-bold);
    letter-spacing: 1px;
    line-height: 1.2;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 13px 29px;
}

.form__btn:hover {
    background: var(--first-color-alt);
    color: var(--body-color);
}

.header {
    position: relative;
    background: transparent;
    padding: 15px 0;
    z-index: var(--z-fixed);
}

.header__btns {
    display: flex;
    align-items: center;
    gap: 15px;
    z-index: var(--z-fixed);
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home {
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;
    margin-top: -70px;
    padding-top: 100px;
}

.home__btn {
    margin-top: 15px;
}

.home__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.home__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.info-message {
    color: var(--first-color);
    font-size: 16px;
    font-weight: var(--font-bold);
    text-align: center;
    padding-bottom: 30px;
}

.instruction {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: start;
    gap: 30px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.instruction__img {
    width: 180px;
    height: auto;
}

.instruction__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 100%;
}

.instruction__text {
    text-align: center;
}

.login {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg, #e6e9f0, #eef1f5);
    margin-top: -70px;
}

.login .form-group:last-child {
    margin-bottom: 0;
}

.login__btn {
    width: 100%;
}

.login__title {
    color: var(--title-color);
    font-weight: var(--font-bold);
    font-size: 22px;
    text-align: center;
    margin-bottom: 28px;
}

.login__question {
    color: #848484;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.login__wrap {
    max-width: 415px;
    width: 100%;
    background: var(--body-color);
    box-shadow: 0px 2px 24px rgba(88, 126, 236, 0.15);
    border-radius: 20px;
    padding: 30px;
}

.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: transparent;
    transform: translateX(-100%);
    -webkit-transition: all 0.25s linear;
            transition: all 0.25s linear;
    z-index: var(--z-tooltip);
}

.nav--active {
    transform: translateX(0);
}

.nav__link {
    position: relative;
    color: var(--title-color);
    font-family: var(--other-font);
    font-size: 20px;
    font-weight: var(--font-bold);
    letter-spacing: 1px;
    text-transform: uppercase;
}

.nav__link--active::after {
    content: '\2022';
    position: absolute;
    right: -30px;
    top: -10px;
    color: var(--first-color);
    font-size: 36px;
}

.nav__link:hover {
    color: var(--title-color);
    text-decoration: underline;
}

.nav__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    list-style: none;
    text-align: center;
}

.nav-toggle {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.nav-toggle__hamburger {
    cursor: pointer;
}

.nav-toggle__ham {
    display: block;
    height: 2px;
    width: 30px;
    background: var(--title-color);
    margin: 6px 0;
    -webkit-transition: all 0.25s linear;
            transition: all 0.25s linear;
}

.nav-toggle__ham:first-child {
    margin-top: 0;
}

.nav-toggle__ham:last-child {
    margin-bottom: 0;
}

.nav-toggle__hamburger--active .nav-toggle__ham--top {
    -webkit-transform: translateY(8px) rotateZ(-45deg);
            transform: translateY(8px) rotateZ(-45deg);
}

.nav-toggle__hamburger--active .nav-toggle__ham--bottom {
    -webkit-transform: translateY(-8px) rotateZ(45deg);
            transform: translateY(-8px) rotateZ(45deg);
}

.nav-toggle__hamburger--active .nav-toggle__ham--middle {
    width: 0;
}

.sign-in {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg, #e6e9f0, #eef1f5);
    margin-top: -70px;
}

.sign-in .form-group:last-child {
    margin-bottom: 0;
}

.sign-in__btn {
    width: 100%;
}

.sign-in__title {
    color: var(--title-color);
    font-weight: var(--font-bold);
    font-size: 22px;
    text-align: center;
    margin-bottom: 28px;
}

.sign-in__question {
    color: #848484;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.sign-in__wrap {
    max-width: 415px;
    width: 100%;
    background: var(--body-color);
    box-shadow: 0px 2px 24px rgba(88, 126, 236, 0.15);
    border-radius: 20px;
    padding: 30px;
}

.social-media {
    display: flex;
    align-items: center;
    gap: 15px;
    list-style: none;
}

.social-media__link {
    opacity: .6;
}

.social-media__link:hover {
    opacity: 1;
}

.statistics {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: 100%;
    width: 660px;
    margin: 30px auto 0;
    padding: 0 15px;
}

.statistics__decor {
    display: block;
    position: absolute;
    background: var(--second-color);
    z-index: 1;
}

.statistics__decor--first {
    width: 65px;
    height: 65px;
    transform: rotate(-30deg);
    bottom: -21px;
    left: -21px;
    border-radius: 16px;
}

.statistics__decor--second {
    width: 97px;
    height: 97px;
    right: 50%;
    top: -40px;
    transform: rotate(30deg);
    border-radius: 30px;
}

.statistics__decor--third {
    width: 128px;
    height: 128px;
    right: -55px;
    top: 0;
    transform: rotate(-30deg);
    border-radius: 30px;
}

.statistics__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.statistics__title {
    color: var(--title-color);
    font-weight: var(--font-bold);
    letter-spacing: 3px;
    line-height: 1;
    text-transform: uppercase;
}

.statistics__value {
    color: var(--second-color);
    font-weight: var(--font-bold);
    font-size: 36px;
    line-height: 1;
    letter-spacing: 1px;
}

.statistics__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
    background: var(--body-color);
    box-shadow: 0px 2px 24px rgba(88, 126, 236, 0.15);
    border-radius: 16px;
    padding: 30px 60px;
    z-index: var(--z-tooltip);
}

.video-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.video-btn__info {
    display: flex;
    flex-direction: column;
    gap: 5px;

}

.video-btn__slogan {
    color: var(--text-color-light);
    font-size: 13px;
}

.video-btn__title {
    color: var(--title-color);
    font-size: var(--small-font-size);
    letter-spacing: 1px;
    text-transform: uppercase;
}

@media only screen and (min-width: 576px) {
    .brand__link {
        width: 140px;
        overflow: auto;
    }

    .instruction {
        flex-direction: row;
    }

    .instruction__img {
        width: 120px;
    }

    .instruction__item {
        width: calc(100% / 2 - 15px);
    }
}

@media only screen and (min-width: 768px) {
    .contact-info__feedback {
        width: calc(100% * 2 / 3);
    }

    .contact-info__items {
        width: calc(100% / 3);
    }

    .contact-info__wrap {
        flex-direction: row;
        align-items: center;
    }
    .footer {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        text-align: left;
    }

    .footer__copy {
        order: -1;
    }

    .home {
        padding-top: 150px;
        padding-bottom: 30px;
    }

    .home::before {
        content: "";
        position: absolute;
        width: 100vw;
        height: 100%;
        right: 180px;
        top: 0;
        background-color: var(--second-color);
        border-radius: 30px 0px 0px 30px;
        -webkit-transform: translate(100%, 0px);
                transform: translate(100%, 0px);
        z-index: -1;
    }

    .home__content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
    }

    .home__img,
    .home__info {
        width: 50%;
    }

    .home__info {
        gap: 5px;
        max-width: 410px;
    }

    .instruction__img {
        width: 180px;
    }

    .nav {
        position: relative;
        top: unset;
        left: unset;
        height: unset;
        width: unset;
        transform: unset;
    }

    .nav--active {
        transform: unset;
    }

    .nav__link {
        font-size: var(--small-font-size);
    }

    .nav__link:after {
        content: '';
        display: none;
    }

    .nav__list {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 30px;
    }

    .nav-toggle {
        display: none;
    }

    .statistics__wrap {
        flex-direction: row;
        align-items: start;
        justify-content: center;
    }
}

@media only screen and (min-width: 992px) {
    .contact {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .header {
        padding: 30px 0;
    }

    .home {
        margin-top: -100px;
    }

    .home::before {
        right: 220px;
    }

    .instruction__img {
        width: 120px;
        height: auto;
    }

    .instruction__item {
        width: calc(100% / 4 - 30px);
    }

    .instruction__item:nth-child(2n) {
        margin-top: 60px;
    }

    .contact-info,
    .login,
    .sign-in {
        margin-top: -95px;
    }

    .nav__list {
        gap: 45px;
    }
}

@media only screen and (min-width: 1200px) {
    .contact__video{
        width: 100%;
        height: 345px;
    }

    .container {
        max-width: 1040px;
    }

    .contact__video iframe {
        height: 100%;
    }

    .instruction__img {
        width: 180px;
    }

    .instruction__item:nth-child(2n) {
        margin-top: 100px;
    }
}
